/*
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif;
*/

body{
    border: 0;
    max-width: 600px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
header{
    margin: 2.5em;
}
nav{
    overflow: hidden;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: .5em;
    text-align: center;
    background: rgb(75, 75, 75);
    left: 0;
    opacity: .9;
}
nav a{
    margin: .5em 2em;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: lightgray;
}
h1, h2, h3{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}
h2, h3{
    padding-top: 30px;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.moscow{
    max-width: 100%;
    height: auto;
}
.portrait{
    float: right;
    width: 200px;
    padding-left: 10px;
}
.arch{
    float: left;
    width: 200px;
    padding-right: 10px;
}
.bike{
    float: left;
    width: 300px;
    padding-right: 10px;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    display: block;
}
input{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 300px;
    height: 1.5em;
}
#result-style{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6em;
}
#messing{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8em;
    text-align: center;
    padding-top: 100px;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    border: 1px solid lightgrey;
    background-color: rgb(241, 241, 241);
    width: 310px;
    height: 30px;
}
button:hover{
    background-color: rgb(221, 221, 221)
}