/*
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif;
*/


h1, h2, h3{
    font-family: 'Libre Baskerville', serif;
}
h2, h3{
    padding-top: 30px;
}
p{
    font-family: 'Montserrat', sans-serif;
}
body{
    max-width: 600px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.moscow{
    max-width: 100%;
    height: auto;
}
.portrait{
    float: right;
    width: 200px;
    padding-left: 10px;
}
.arch{
    float: left;
    width: 200px;
    padding-right: 10px;
}
.bike{
    float: left;
    width: 300px;
    padding-right: 10px;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    display: block;
}
input{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 300px;
    height: 1.5em;
}
#result-style{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6em;
}
#messing{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8em;
    text-align: center;
    padding-top: 100px;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    border: 1px solid lightgrey;
    background-color: rgb(241, 241, 241);
    width: 310px;
    height: 30px;
}
button:hover{
    background-color: rgb(221, 221, 221)
}